<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appsetting>
		<name>VARIANTS_XML_SEARCHPATHS</name>
		<values>
			<value>C:/Documents and Settings/AJELOVIC/My Documents/jdip/resource/variants/stdVariants</value>
			<value>/home/detriusxiiuser/jdip/variants/stdVariants</value>
		</values>
	</appsetting>
	<appsetting>
		<name>VARIANT_FILENAME</name>
		<value>variants.xml</value>
	</appsetting>
</configuration>
